n8n-workflows/eleveaone-sites-complete.json
{
  "name": "EleveaOne Sites - Setup + Generate + Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elevea-sites/setup",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "setup-webhook",
      "name": "Webhook - Setup Site",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "elevea-sites-setup",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IRaf47kuxUtlia50",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\nconst site_slug = (body.site_slug || body.siteSlug || '').toLowerCase().replace(/[^a-z0-9-]/g, '-').replace(/-+/g, '-').replace(/^-|-$/g, '');\nconst site_name = body.site_name || body.siteName || site_slug;\nconst description = body.description || `Site institucional ${site_name}`;\n\nif (!site_slug) throw new Error('site_slug é obrigatório');\nif (site_slug.length < 3) throw new Error('site_slug deve ter no mínimo 3 caracteres');\n\nreturn {\n  json: {\n    site_slug,\n    site_name,\n    description,\n    github_owner: 'MatheusMartinsSMP',\n    github_repo: site_slug,\n    github_branch: 'main',\n    netlify_site_name: site_slug\n  }\n};"
      },
      "id": "setup-validate",
      "name": "Validar Setup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/user/repos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.github_repo }}\",\n  \"description\": \"{{ $json.description }}\",\n  \"private\": false,\n  \"auto_init\": true\n}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        }
      },
      "id": "github-create-repo",
      "name": "GitHub - Criar Repo (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_TOKEN_ID",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const githubResult = $json;\nconst setupData = $('Validar Setup').item.json;\n\nreturn {\n  json: {\n    site_slug: setupData.site_slug,\n    site_name: setupData.site_name,\n    github_repo_id: githubResult.id,\n    github_full_name: githubResult.full_name,\n    github_html_url: githubResult.html_url,\n    netlify_site_name: setupData.netlify_site_name\n  }\n};"
      },
      "id": "setup-prepare-netlify",
      "name": "Preparar Netlify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.netlify.com/api/v1/sites",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.netlify_site_name }}\",\n  \"repo\": {\n    \"provider\": \"github\",\n    \"id\": {{ $json.github_repo_id }},\n    \"repo\": \"{{ $json.github_full_name }}\",\n    \"branch\": \"main\",\n    \"private\": false,\n    \"cmd\": \"\",\n    \"dir\": \"/\"\n  }\n}",
        "options": {}
      },
      "id": "netlify-create-site",
      "name": "Netlify - Criar Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "NETLIFY_TOKEN_ID",
          "name": "Netlify Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const netlifyResult = $json;\nconst prepareData = $('Preparar Netlify').item.json;\n\nreturn {\n  json: {\n    success: true,\n    site_slug: prepareData.site_slug,\n    site_name: prepareData.site_name,\n    github: {\n      repo_id: prepareData.github_repo_id,\n      full_name: prepareData.github_full_name,\n      url: prepareData.github_html_url\n    },\n    netlify: {\n      site_id: netlifyResult.id,\n      site_name: netlifyResult.name,\n      url: netlifyResult.ssl_url || netlifyResult.url,\n      admin_url: netlifyResult.admin_url\n    },\n    message: 'Site configurado! Deploy automático ativado.'\n  }\n};"
      },
      "id": "setup-result",
      "name": "Resultado Setup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "setup-respond",
      "name": "Respond Setup",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elevea-sites/generate",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "generate-webhook",
      "name": "Webhook - Gerar Site",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 400],
      "webhookId": "elevea-sites-generate",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IRaf47kuxUtlia50",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\nconst site_slug = body.site_slug || body.siteSlug;\nif (!site_slug) throw new Error('site_slug é obrigatório');\n\nconst business_type = body.business_type || 'fisico';\nconst segment_id = body.segment_id || 'varejo';\nconst segment_name = body.segment_name || 'Varejo';\nconst area_id = body.area_id || '';\nconst area_name = body.area_name || '';\nconst custom_area = body.custom_area || '';\n\nconst servicosSegments = ['advocacia', 'saude', 'contabilidade', 'educacao', 'imoveis', 'eventos', 'servicos-gerais'];\nconst mistoSegments = ['farmacia', 'beleza', 'veiculos', 'pets', 'tecnologia', 'outros'];\n\nlet content_type = 'produtos';\nif (servicosSegments.includes(segment_id)) content_type = 'servicos';\nelse if (mistoSegments.includes(segment_id)) content_type = 'misto';\n\nconst voiceToneMap = {\n  'joias': 'elegante',\n  'moda': 'elegante',\n  'casa': 'elegante',\n  'advocacia': 'profissional',\n  'contabilidade': 'profissional',\n  'imoveis': 'profissional',\n  'construcao': 'profissional',\n  'veiculos': 'profissional',\n  'varejo': 'popular',\n  'suplementos': 'tecnico',\n  'tecnologia': 'tecnico',\n  'saude': 'acolhedor',\n  'farmacia': 'acolhedor',\n  'pets': 'acolhedor',\n  'alimentacao': 'acolhedor',\n  'educacao': 'acolhedor',\n  'esportes': 'dinamico',\n  'eventos': 'dinamico',\n  'calcados': 'dinamico',\n  'beleza': 'elegante'\n};\n\nconst voice_tone = body.voice_tone || voiceToneMap[segment_id] || 'profissional';\n\nreturn {\n  json: {\n    site_slug,\n    business_type,\n    segment_id,\n    segment_name,\n    area_id,\n    area_name,\n    custom_area,\n    content_type,\n    voice_tone,\n    company_name: body.company_name || body.company || '',\n    company_description: body.company_description || body.description || '',\n    company_history: body.company_history || '',\n    mission: body.mission || '',\n    vision: body.vision || '',\n    company_values: body.company_values || '',\n    services_description: body.services_description || '',\n    products_description: body.products_description || '',\n    differentials: body.differentials || '',\n    whatsapp: body.whatsapp || '',\n    phone: body.phone || '',\n    email: body.email || '',\n    instagram: body.instagram || '',\n    facebook: body.facebook || '',\n    address_full: body.address_full || '',\n    google_maps_embed: body.google_maps_embed || '',\n    business_hours: body.business_hours || {},\n    logo_url: body.logo_url || '',\n    hero_image_url: body.hero_image_url || '',\n    gallery_images: body.gallery_images || [],\n    product_images: body.product_images || [],\n    ambient_images: body.ambient_images || [],\n    color_primary: body.color_primary || '#8B5CF6',\n    color_secondary: body.color_secondary || '#1F2937',\n    color_accent: body.color_accent || '#10B981',\n    github_owner: 'MatheusMartinsSMP',\n    github_repo: site_slug,\n    github_branch: 'main'\n  }\n};"
      },
      "id": "generate-validate",
      "name": "Validar Geração",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nconst contentLabels = {\n  produtos: { mainSection: 'Nossos Produtos', ctaText: 'Ver Produtos' },\n  servicos: { mainSection: 'Nossos Serviços', ctaText: 'Agendar Consulta' },\n  misto: { mainSection: 'Produtos e Serviços', ctaText: 'Saiba Mais' }\n};\n\nconst voiceToneInstructions = {\n  elegante: 'Use tom sofisticado e exclusivo. Palavras: exclusivo, refinado, premium, distinção.',\n  profissional: 'Use tom sério e confiável. Palavras: experiência, especialização, confiança.',\n  popular: 'Use tom acessível e direto. Palavras: economia, promoção, preço baixo.',\n  tecnico: 'Use tom técnico focado em resultados. Palavras: performance, eficiência.',\n  acolhedor: 'Use tom caloroso e empático. Palavras: cuidado, carinho, bem-estar.',\n  dinamico: 'Use tom energético e motivacional. Palavras: energia, conquista, ação.'\n};\n\nconst labels = contentLabels[data.content_type] || contentLabels.produtos;\nconst toneInstr = voiceToneInstructions[data.voice_tone] || voiceToneInstructions.profissional;\n\nconst prompt = `Você é um expert em criar sites HTML one-page modernos e responsivos.\n\nCrie um site institucional completo para:\n\n**EMPRESA:**\n- Nome: ${data.company_name}\n- Segmento: ${data.segment_name}\n- Área: ${data.area_name || data.custom_area || 'Geral'}\n- Descrição: ${data.company_description || 'Empresa focada em qualidade.'}\n- Diferenciais: ${data.differentials || ''}\n\n**TOM DE VOZ:** ${toneInstr}\n\n**CONTATO:**\n- WhatsApp: ${data.whatsapp || 'Não informado'}\n- Telefone: ${data.phone || ''}\n- Email: ${data.email || ''}\n- Endereço: ${data.address_full || ''}\n- Instagram: ${data.instagram || ''}\n- Facebook: ${data.facebook || ''}\n\n**CORES:**\n- Primária: ${data.color_primary}\n- Secundária: ${data.color_secondary}\n- Destaque: ${data.color_accent}\n\n**IMAGENS:**\n- Logo: ${data.logo_url || 'Use iniciais da empresa como logo texto'}\n- Hero: ${data.hero_image_url || 'Use gradiente elegante'}\n- Galeria: ${JSON.stringify(data.gallery_images || [])}\n- Produtos: ${JSON.stringify(data.product_images || [])}\n\n**SEÇÕES OBRIGATÓRIAS:**\n1. Header com logo e navegação\n2. Hero com título impactante e CTA WhatsApp\n3. Sobre Nós (história, missão se houver)\n4. ${labels.mainSection} - listar produtos/serviços\n5. Diferenciais (ícones + texto)\n6. Contato com formulário simples + mapa se houver\n7. Footer com redes sociais\n\n**REQUISITOS TÉCNICOS:**\n- HTML5 semântico completo (DOCTYPE, meta tags)\n- CSS inline em <style> no <head>\n- Design 100% responsivo (mobile-first)\n- Google Fonts: Inter\n- Botão WhatsApp flutuante fixo (verde, canto inferior direito)\n- Animações CSS sutis (fade-in, hover)\n- Meta tags SEO e Open Graph\n- Schema.org LocalBusiness\n\n**IMPORTANTE:**\n- Retorne APENAS o código HTML completo\n- Não inclua explicações ou markdown\n- O código deve funcionar standalone`;\n\nreturn {\n  json: {\n    ...data,\n    ai_prompt: prompt\n  }\n};"
      },
      "id": "generate-build-prompt",
      "name": "Construir Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ai_prompt }}",
        "options": {
          "maxTokens": 16000
        }
      },
      "id": "ai-agent-generate",
      "name": "AI Agent - Gerar HTML",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [560, 600],
      "credentials": {
        "openAiApi": {
          "id": "Cu5kAsTvlXEKIvgE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $json;\nconst validateData = $('Construir Prompt').item.json;\n\nlet htmlContent = '';\n\nif (aiResponse.output) {\n  htmlContent = typeof aiResponse.output === 'string' ? aiResponse.output : JSON.stringify(aiResponse.output);\n} else if (aiResponse.text) {\n  htmlContent = aiResponse.text;\n} else if (aiResponse.response) {\n  htmlContent = aiResponse.response;\n} else {\n  htmlContent = JSON.stringify(aiResponse);\n}\n\nhtmlContent = htmlContent.replace(/```html\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nif (!htmlContent.startsWith('<!DOCTYPE') && !htmlContent.startsWith('<html')) {\n  const htmlStart = htmlContent.indexOf('<!DOCTYPE');\n  if (htmlStart > -1) htmlContent = htmlContent.substring(htmlStart);\n}\n\nreturn {\n  json: {\n    site_slug: validateData.site_slug,\n    segment_id: validateData.segment_id,\n    content_type: validateData.content_type,\n    voice_tone: validateData.voice_tone,\n    github_owner: validateData.github_owner,\n    github_repo: validateData.github_repo,\n    github_branch: validateData.github_branch,\n    html_content: htmlContent,\n    html_length: htmlContent.length,\n    company_name: validateData.company_name\n  }\n};"
      },
      "id": "generate-normalize",
      "name": "Normalizar HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $json.github_owner }}/{{ $json.github_repo }}/contents/index.html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Site gerado por IA - {{ $json.company_name }}\",\n  \"content\": \"{{ Buffer.from($json.html_content).toString('base64') }}\",\n  \"branch\": \"main\"\n}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        }
      },
      "id": "github-commit-html",
      "name": "GitHub - Criar index.html (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_TOKEN_ID",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const githubResult = $json;\nconst normalizeData = $('Normalizar HTML').item.json;\n\nreturn {\n  json: {\n    success: true,\n    site_slug: normalizeData.site_slug,\n    segment_id: normalizeData.segment_id,\n    content_type: normalizeData.content_type,\n    voice_tone: normalizeData.voice_tone,\n    html_length: normalizeData.html_length,\n    github: {\n      commit_sha: githubResult.commit?.sha || githubResult.sha,\n      file_url: `https://github.com/${normalizeData.github_owner}/${normalizeData.github_repo}/blob/main/index.html`\n    },\n    netlify_url: `https://${normalizeData.site_slug}.netlify.app`,\n    message: 'Site gerado! Deploy automático em ~30 segundos.'\n  }\n};"
      },
      "id": "generate-result",
      "name": "Resultado Geração",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "generate-respond",
      "name": "Respond Geração",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1540, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elevea-sites/update",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "update-webhook",
      "name": "Webhook - Atualizar Site",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 800],
      "webhookId": "elevea-sites-update",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IRaf47kuxUtlia50",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\nconst site_slug = body.site_slug || body.siteSlug;\nconst html_content = body.html_content || body.htmlContent;\nconst commit_message = body.commit_message || body.commitMessage || 'Atualização manual';\n\nif (!site_slug) throw new Error('site_slug é obrigatório');\nif (!html_content) throw new Error('html_content é obrigatório');\n\nreturn {\n  json: {\n    site_slug,\n    html_content,\n    commit_message,\n    github_owner: 'MatheusMartinsSMP',\n    github_repo: site_slug,\n    github_branch: 'main'\n  }\n};"
      },
      "id": "update-validate",
      "name": "Validar Atualização",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 800]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $json.github_owner }}/{{ $json.github_repo }}/contents/index.html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.commit_message }}\",\n  \"content\": \"{{ Buffer.from($json.html_content).toString('base64') }}\",\n  \"branch\": \"main\"\n}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        }
      },
      "id": "update-github-commit",
      "name": "GitHub - Commit Update (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 800],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_TOKEN_ID",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const githubResult = $json;\nconst validateData = $('Validar Atualização').item.json;\n\nreturn {\n  json: {\n    success: true,\n    site_slug: validateData.site_slug,\n    commit_sha: githubResult.commit?.sha || githubResult.sha,\n    message: 'Site atualizado! Deploy automático em andamento.'\n  }\n};"
      },
      "id": "update-result",
      "name": "Resultado Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 800]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "update-respond",
      "name": "Respond Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 800]
    }
  ],
  "connections": {
    "Webhook - Setup Site": {
      "main": [[{ "node": "Validar Setup", "type": "main", "index": 0 }]]
    },
    "Validar Setup": {
      "main": [[{ "node": "GitHub - Criar Repo (HTTP)", "type": "main", "index": 0 }]]
    },
    "GitHub - Criar Repo (HTTP)": {
      "main": [[{ "node": "Preparar Netlify", "type": "main", "index": 0 }]]
    },
    "Preparar Netlify": {
      "main": [[{ "node": "Netlify - Criar Site", "type": "main", "index": 0 }]]
    },
    "Netlify - Criar Site": {
      "main": [[{ "node": "Resultado Setup", "type": "main", "index": 0 }]]
    },
    "Resultado Setup": {
      "main": [[{ "node": "Respond Setup", "type": "main", "index": 0 }]]
    },
    "Webhook - Gerar Site": {
      "main": [[{ "node": "Validar Geração", "type": "main", "index": 0 }]]
    },
    "Validar Geração": {
      "main": [[{ "node": "Construir Prompt", "type": "main", "index": 0 }]]
    },
    "Construir Prompt": {
      "main": [[{ "node": "AI Agent - Gerar HTML", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent - Gerar HTML", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent - Gerar HTML": {
      "main": [[{ "node": "Normalizar HTML", "type": "main", "index": 0 }]]
    },
    "Normalizar HTML": {
      "main": [[{ "node": "GitHub - Criar index.html (HTTP)", "type": "main", "index": 0 }]]
    },
    "GitHub - Criar index.html (HTTP)": {
      "main": [[{ "node": "Resultado Geração", "type": "main", "index": 0 }]]
    },
    "Resultado Geração": {
      "main": [[{ "node": "Respond Geração", "type": "main", "index": 0 }]]
    },
    "Webhook - Atualizar Site": {
      "main": [[{ "node": "Validar Atualização", "type": "main", "index": 0 }]]
    },
    "Validar Atualização": {
      "main": [[{ "node": "GitHub - Commit Update (HTTP)", "type": "main", "index": 0 }]]
    },
    "GitHub - Commit Update (HTTP)": {
      "main": [[{ "node": "Resultado Update", "type": "main", "index": 0 }]]
    },
    "Resultado Update": {
      "main": [[{ "node": "Respond Update", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eleveaone-sites-v3"
  }
}
