attached_assets/Pasted--nodes-parameters-path-api-whatsapp-auth-status-resp-17_1765136860789.txt
{
  "nodes": [
    {
      "parameters": {
        "path": "api/whatsapp/auth/status",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://eleveaagencia.netlify.app"
              }
            ]
          }
        }
      },
      "id": "344aa112-e37a-4def-8db0-49d9b0c296b3",
      "name": "🔍 Webhook - Check Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        272
      ],
      "webhookId": "whatsapp-check-status"
    },
    {
      "parameters": {
        "jsCode": "// Code - Normalize Status Input\nconst trim = v => typeof v === 'string' ? v.trim() : v;\nconst low = v => typeof v === 'string' ? v.toLowerCase() : v;\n\nconst out = [];\nfor (const {json} of items) {\n  const q = json.query || {};\n  const siteSlug = low(trim(q.siteSlug || q.site_slug || ''));\n  const customerId = trim(q.customerId || q.customer_id || q.userEmail || '');\n  \n  if (!siteSlug || !customerId) {\n    out.push({\n      json: {\n        success: false,\n        ok: false,\n        error: 'siteSlug e customerId são obrigatórios'\n      }\n    });\n    continue;\n  }\n  \n  out.push({\n    json: {\n      customer_id: customerId,\n      site_slug: siteSlug,\n      instance_name: q.instanceName || q.instance_name || '',\n      uazapi_status: q.status || 'pending',\n      uazapi_token: q.token || null,\n      uazapi_phone_number: q.owner || q.phone_number || null,\n      is_connection_event: q.EventType === 'connection'\n    }\n  });\n}\nreturn out;"
      },
      "id": "be01d4ea-b773-4179-b082-a93f9e6b42cd",
      "name": "📝 Code - Normalize Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        272
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  customer_id,\n  site_slug,\n  uazapi_instance_id,\n  uazapi_token,\n  uazapi_status,\n  uazapi_qr_code,\n  uazapi_phone_number,\n  chatwoot_inbox_id,\n  created_at,\n  updated_at\nFROM sistemaretiradas.whatsapp_credentials\nWHERE customer_id = $1 AND site_slug = $2 AND status = 'active'\nLIMIT 1;\n",
        "options": {
          "queryReplacement": "$1 → {{$json.customer_id}}\n$2 → {{$json.site_slug}}"
        }
      },
      "id": "8ad0c4d7-6df1-450b-8e31-b3a97883dfe2",
      "name": "🗄️ PostgreSQL - Get Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        272
      ],
      "credentials": {
        "postgres": {
          "id": "S2Hp22T5AgilJMEy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-if-exists",
              "leftValue": "={{ $json.uazapi_instance_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8f74d08c-77eb-4d33-b0c3-57ca083e674b",
      "name": "❓ IF - Has Instance",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        448,
        272
      ]
    },
    {
      "parameters": {
        "url": "https://elevea.uazapi.com/instance/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.uazapi_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4e810219-13f4-4506-81f1-89db473601c0",
      "name": "🌐 HTTP - Check UAZAPI Connection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Code - Process Status\nconst inputData = $input.all();\nconst dbData = $('🗄️ PostgreSQL - Get Status').all()[0]?.json || {};\n\n// Se não tem dados do banco, retornar não encontrado\nif (!dbData.uazapi_instance_id) {\n  return [{\n    json: {\n      success: true,\n      ok: true,\n      connected: false,\n      status: 'disconnected',\n      qrCode: null,\n      instanceId: null,\n      phoneNumber: null\n    }\n  }];\n}\n\n// Tentar pegar resposta HTTP se existir (pode estar vazio se deu 404)\nlet httpState = null;\nlet httpError = false;\nlet httpBody = null;\nlet qrCodeFromAPI = null;\nlet phoneNumberFromAPI = null;\n\nif (inputData.length > 0) {\n  const httpResponse = inputData[0].json || {};\n  const statusCode = inputData[0].statusCode || httpResponse.statusCode || 0;\n  \n  // Se deu erro HTTP, marcar como erro mas continuar\n  if (statusCode >= 400) {\n    httpError = true;\n  } else {\n    // Extrair body da resposta HTTP\n    httpBody = httpResponse.body || httpResponse.data || httpResponse;\n    \n    // Tentar pegar estado da instância\n    if (httpBody.instance) {\n      httpState = httpBody.instance.status || httpBody.instance.state;\n      qrCodeFromAPI = httpBody.instance.qrcode || null;\n      phoneNumberFromAPI = httpBody.instance.phone || httpBody.instance.phoneNumber || null;\n    } else if (httpBody.status) {\n      httpState = httpBody.status.state || httpBody.status.status;\n    } else {\n      httpState = httpBody.state || httpBody.status;\n    }\n  }\n}\n\n// Usar estado do HTTP se disponível, senão usar do banco\nconst state = httpState || dbData.uazapi_status || 'disconnected';\nconst connected = state === 'open' || state === 'connected';\n\n// Processar QR Code: garantir que não seja string \"null\"\nlet qrCodeValue = null;\nif (connected) {\n  qrCodeValue = null; // Se conectado, não precisa de QR code\n} else {\n  // Tentar QR code da API primeiro\n  if (qrCodeFromAPI && qrCodeFromAPI !== 'null' && qrCodeFromAPI.trim() !== '') {\n    qrCodeValue = qrCodeFromAPI;\n  } \n  // Senão, tentar do banco\n  else if (dbData.uazapi_qr_code && dbData.uazapi_qr_code !== 'null' && dbData.uazapi_qr_code.trim() !== '') {\n    qrCodeValue = dbData.uazapi_qr_code;\n  } else {\n    qrCodeValue = null;\n  }\n}\n\n// Processar phone number: API primeiro, depois banco\nconst phoneNumber = phoneNumberFromAPI || dbData.uazapi_phone_number || null;\n\nreturn [{\n  json: {\n    success: true,\n    ok: true,\n    connected: connected,\n    status: connected ? 'connected' : (state === 'connecting' ? 'connecting' : 'disconnected'),\n    qrCode: qrCodeValue,\n    instanceId: dbData.uazapi_instance_id || null,\n    phoneNumber: phoneNumber\n  }\n}];"
      },
      "id": "9f31b1a3-eaf5-4271-b754-e300783d252d",
      "name": "📦 Code - Process Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://eleveaagencia.netlify.app"
              }
            ]
          }
        }
      },
      "id": "a143bfea-e262-4840-8086-72b65d1ec52d",
      "name": "📤 Respond - Status",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1328,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, ok: true, connected: false, status: 'disconnected', qrCode: null, instanceId: null } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://eleveaagencia.netlify.app"
              }
            ]
          }
        }
      },
      "id": "a2e50a3e-c1fd-4fca-92e6-435b1c828b06",
      "name": "📤 Respond - Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        672,
        368
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sistemaretiradas.whatsapp_credentials\nSET \n  uazapi_status = $1,\n  uazapi_phone_number = CASE \n    WHEN $2 IS NOT NULL AND $2 != '' AND $2 != 'null' THEN $2 \n    ELSE uazapi_phone_number \n  END,\n  uazapi_qr_code = CASE \n    WHEN $1 = 'connected' THEN NULL  -- Limpar QR code quando conectar\n    WHEN $3 IS NOT NULL AND $3 != '' AND $3 != 'null' THEN $3\n    ELSE uazapi_qr_code\n  END,\n  updated_at = NOW()\nWHERE \n  customer_id = $4 \n  AND site_slug = $5\n  AND status = 'active'\nRETURNING customer_id, site_slug, uazapi_status;",
        "options": {
          "queryReplacement": "={{ [\n  $json.status,\n  $json.phoneNumber,\n  $json.qrCode,\n  $('🗄️ PostgreSQL - Get Status').item.json.customer_id,\n  $('🗄️ PostgreSQL - Get Status').item.json.site_slug\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        160
      ],
      "id": "9006838a-e706-4476-baf6-527f26ec1a08",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "S2Hp22T5AgilJMEy",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "🔍 Webhook - Check Status": {
      "main": [
        [
          {
            "node": "📝 Code - Normalize Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Code - Normalize Status": {
      "main": [
        [
          {
            "node": "🗄️ PostgreSQL - Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗄️ PostgreSQL - Get Status": {
      "main": [
        [
          {
            "node": "❓ IF - Has Instance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ IF - Has Instance": {
      "main": [
        [
          {
            "node": "🌐 HTTP - Check UAZAPI Connection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Respond - Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 HTTP - Check UAZAPI Connection": {
      "main": [
        [
          {
            "node": "📦 Code - Process Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Code - Process Status": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "📤 Respond - Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c54d95e1e8c78b0647a47bf20abbc07d803d84dc24a093f032b7c48ff894b672"
  }
}