docs/n8n-whatsapp-campaigns-workflow.json
{
  "name": "EleveaOne - WhatsApp Campaigns com IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-campaign",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 500]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nif (!body.action) {\n  return [{ json: { success: false, error: 'action é obrigatório' } }];\n}\nreturn [{\n  json: {\n    action: body.action,\n    store_id: body.store_id,\n    campaign_id: body.campaign_id,\n    data: body.data || {},\n    session_id: body.session_id || `session_${Date.now()}`\n  }\n}];"
      },
      "id": "a2",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 500]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {"value2": "generate_variations"},
            {"value2": "send_message"},
            {"value2": "get_crm_stats"},
            {"value2": "get_contacts_by_filter"},
            {"value2": "process_queue"},
            {"value2": "update_campaign_status"},
            {"value2": "ai_chat"},
            {"value2": "analyze_crm"}
          ]
        }
      },
      "id": "a3",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [600, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM sistemaretiradas.get_crm_customer_stats($1::uuid)",
        "options": {}
      },
      "id": "b1",
      "name": "PG CRM Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 100],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const customers = $input.all().map(i => i.json);\nconst total = customers.length;\nconst inactive30 = customers.filter(c => c.dias_sem_comprar >= 30).length;\nconst inactive60 = customers.filter(c => c.dias_sem_comprar >= 60).length;\nconst inactive90 = customers.filter(c => c.dias_sem_comprar >= 90).length;\nconst totalRevenue = customers.reduce((s, c) => s + (parseFloat(c.total_compras) || 0), 0);\nconst totalPurchases = customers.reduce((s, c) => s + (c.quantidade_compras || 0), 0);\nconst avgTicket = totalPurchases > 0 ? totalRevenue / totalPurchases : 0;\nconst categories = {\n  BLACK: customers.filter(c => c.categoria === 'BLACK').length,\n  PLATINUM: customers.filter(c => c.categoria === 'PLATINUM').length,\n  VIP: customers.filter(c => c.categoria === 'VIP').length,\n  REGULAR: customers.filter(c => c.categoria === 'REGULAR').length\n};\nreturn [{json: {success: true, summary: {total_customers: total, inactive_30_days: inactive30, inactive_60_days: inactive60, inactive_90_days: inactive90, total_revenue: Math.round(totalRevenue * 100) / 100, avg_ticket: Math.round(avgTicket * 100) / 100, categories}, customers: customers.slice(0, 50)}}];"
      },
      "id": "b2",
      "name": "Process CRM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM sistemaretiradas.get_crm_customer_stats($1::uuid)",
        "options": {}
      },
      "id": "c1",
      "name": "PG Contacts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 250],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const contacts = $input.all().map(i => i.json);\nconst request = $('Parse Request').first().json;\nconst filters = request.data?.filters || {};\nlet result = contacts.filter(c => c.telefone && c.telefone.length >= 10);\nif (filters.inactive_days) result = result.filter(c => c.dias_sem_comprar >= filters.inactive_days);\nif (filters.category) result = result.filter(c => c.categoria === filters.category);\nif (filters.min_ticket) result = result.filter(c => c.ticket_medio >= filters.min_ticket);\nif (filters.max_ticket) result = result.filter(c => c.ticket_medio <= filters.max_ticket);\nif (filters.min_purchases) result = result.filter(c => c.quantidade_compras >= filters.min_purchases);\nif (filters.top_spenders) result = result.sort((a, b) => b.total_compras - a.total_compras).slice(0, filters.top_spenders);\nreturn [{json: {success: true, total_found: result.length, contacts: result, filters_applied: filters}}];"
      },
      "id": "c2",
      "name": "Apply Filters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 250]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM sistemaretiradas.get_next_campaign_messages(10)",
        "options": {}
      },
      "id": "d1",
      "name": "PG Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const messages = $input.all().map(i => i.json);\nreturn [{json: {success: true, messages_to_process: messages.length, messages, processed_at: new Date().toISOString()}}];"
      },
      "id": "d2",
      "name": "Process Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sistemaretiradas.whatsapp_campaigns SET status = $2, updated_at = NOW() WHERE id = $1::uuid RETURNING *",
        "options": {}
      },
      "id": "e1",
      "name": "PG Update Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 550],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const updated = $input.first()?.json || {};\nreturn [{json: {success: true, campaign_id: updated.id, new_status: updated.status, updated_at: updated.updated_at}}];"
      },
      "id": "e2",
      "name": "Process Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 550]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data;\nconst phone = (data.phone || '').replace(/\\D/g, '');\nlet formatted = phone.startsWith('55') ? phone : '55' + phone;\nif (formatted.length < 12 || formatted.length > 13) {\n  return [{json: {success: false, error: 'Telefone inválido'}}];\n}\nreturn [{json: {formatted_phone: formatted, message: data.message, instance_id: data.instance_id}}];"
      },
      "id": "f1",
      "name": "Prep Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.uazapi.com/api/{{ $json.instance_id }}/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"phone\": \"{{ $json.formatted_phone }}\", \"message\": \"{{ $json.message }}\"}"
      },
      "id": "f2",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "uazapi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nreturn [{json: {success: !r.error, message_id: r.id || null, sent_at: new Date().toISOString(), error: r.error || null}}];"
      },
      "id": "f3",
      "name": "Process Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 700]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM sistemaretiradas.get_crm_customer_stats($1::uuid)",
        "options": {}
      },
      "id": "g1",
      "name": "PG For Variations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 850],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const customers = $input.all().map(i => i.json);\nconst request = $('Parse Request').first().json;\nconst samples = customers.slice(0, 5).map(c => ({nome: c.nome?.split(' ')[0], dias: c.dias_sem_comprar, cat: c.categoria}));\nreturn [{json: {base_template: request.data?.base_template || 'Olá {primeiro_nome}!', context: request.data?.campaign_context || 'Reativação', samples, total: customers.length}}];"
      },
      "id": "g2",
      "name": "Prep Variations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 850]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"parts\":[{\"text\":\"Você é especialista em marketing varejo brasileiro. Crie 3 variações de mensagens WhatsApp.\\n\\nREGRAS:\\n1. Tom amigável\\n2. Variáveis: {primeiro_nome}, {ultima_compra}, {dias_sem_comprar}, {categoria}, {loja}\\n3. Max 280 caracteres\\n4. Max 2 emojis\\n5. Call-to-action sutil\\n\\nTemplate: {{ $json.base_template }}\\nContexto: {{ $json.context }}\\nTotal destinatários: {{ $json.total }}\\n\\nResponda em JSON:\\n{\\\"variations\\\":[{\\\"id\\\":\\\"v1\\\",\\\"text\\\":\\\"msg\\\"}]}\"}]}],\"generationConfig\":{\"temperature\":0.8,\"maxOutputTokens\":1500}}"
      },
      "id": "g3",
      "name": "Gemini Variations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 850],
      "credentials": {
        "httpQueryAuth": {
          "id": "3",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nlet variations = [];\ntry {\n  const text = r.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) variations = JSON.parse(match[0]).variations || [];\n} catch (e) {\n  variations = [{id: 'v1', text: 'Erro ao gerar', error: e.message}];\n}\nvariations = variations.map((v, i) => ({id: v.id || `v${i+1}`, text: v.text, approved: false, created_at: new Date().toISOString()}));\nreturn [{json: {success: true, variations, count: variations.length}}];"
      },
      "id": "g4",
      "name": "Parse Variations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 850]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM sistemaretiradas.get_crm_customer_stats($1::uuid)",
        "options": {}
      },
      "id": "h1",
      "name": "PG For Analysis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 1000],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const customers = $input.all().map(i => i.json);\nconst request = $('Parse Request').first().json;\nconst stats = {\n  total: customers.length,\n  inactive30: customers.filter(c => c.dias_sem_comprar >= 30).length,\n  inactive60: customers.filter(c => c.dias_sem_comprar >= 60).length,\n  inactive90: customers.filter(c => c.dias_sem_comprar >= 90).length,\n  black: customers.filter(c => c.categoria === 'BLACK').length,\n  platinum: customers.filter(c => c.categoria === 'PLATINUM').length,\n  vip: customers.filter(c => c.categoria === 'VIP').length,\n  regular: customers.filter(c => c.categoria === 'REGULAR').length,\n  avgTicket: Math.round(customers.reduce((s, c) => s + (c.ticket_medio || 0), 0) / (customers.length || 1)),\n  totalRevenue: Math.round(customers.reduce((s, c) => s + (parseFloat(c.total_compras) || 0), 0))\n};\nreturn [{json: {stats, objective: request.data?.campaign_objective || 'Reativar clientes'}}];"
      },
      "id": "h2",
      "name": "Prep Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 1000]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"parts\":[{\"text\":\"Analise estes dados CRM e sugira 5 segmentos para campanha WhatsApp:\\n\\nTotal: {{ $json.stats.total }}\\nInativos >30d: {{ $json.stats.inactive30 }}\\nInativos >60d: {{ $json.stats.inactive60 }}\\nInativos >90d: {{ $json.stats.inactive90 }}\\nBLACK: {{ $json.stats.black }}\\nPLATINUM: {{ $json.stats.platinum }}\\nVIP: {{ $json.stats.vip }}\\nREGULAR: {{ $json.stats.regular }}\\nTicket médio: R$ {{ $json.stats.avgTicket }}\\nFaturamento: R$ {{ $json.stats.totalRevenue }}\\n\\nObjetivo: {{ $json.objective }}\\n\\nResponda em JSON:\\n{\\\"segments\\\":[{\\\"name\\\":\\\"\\\",\\\"filter\\\":{},\\\"priority\\\":\\\"\\\",\\\"message_tone\\\":\\\"\\\"}],\\\"recommendation\\\":\\\"\\\"}\"}]}],\"generationConfig\":{\"temperature\":0.5,\"maxOutputTokens\":2000}}"
      },
      "id": "h3",
      "name": "Gemini Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 1000],
      "credentials": {
        "httpQueryAuth": {
          "id": "3",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nlet analysis = {};\ntry {\n  const text = r.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) analysis = JSON.parse(match[0]);\n  else analysis = {raw: text};\n} catch (e) {\n  analysis = {error: e.message, raw: r.candidates?.[0]?.content?.parts?.[0]?.text};\n}\nreturn [{json: {success: true, analysis, analyzed_at: new Date().toISOString()}}];"
      },
      "id": "h4",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 1000]
    },
    {
      "parameters": {
        "jsCode": "const request = $input.first().json;\nconst userMessage = request.data?.user_message || '';\nconst context = request.data?.context || {};\nreturn [{json: {user_message: userMessage, context, session_id: request.session_id}}];"
      },
      "id": "i1",
      "name": "Prep AI Chat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 1150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"{{ $json.user_message }}\"}]}],\"systemInstruction\":{\"parts\":[{\"text\":\"Você é um assistente especialista em marketing varejo brasileiro e campanhas WhatsApp.\\n\\nVocê ajuda a:\\n1. Criar estratégias de campanhas de reativação\\n2. Sugerir filtros CRM inteligentes\\n3. Escrever mensagens persuasivas\\n4. Analisar dados de clientes\\n5. Otimizar horários de envio\\n\\nConsidere:\\n- LGPD\\n- Boas práticas WhatsApp Business\\n- Evitar spam e banimentos\\n- Personalização\\n\\nPara filtros use JSON: {\\\"filters\\\": [{\\\"type\\\": \\\"inactive_days\\\", \\\"value\\\": 60}]}\\nPara mensagens use variáveis: {primeiro_nome}, {ultima_compra}, {dias_sem_comprar}, {total_gasto}, {categoria}, {loja}\"}]},\"generationConfig\":{\"temperature\":0.7,\"maxOutputTokens\":2000}}"
      },
      "id": "i2",
      "name": "Gemini Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 1150],
      "credentials": {
        "httpQueryAuth": {
          "id": "3",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst text = r.candidates?.[0]?.content?.parts?.[0]?.text || 'Sem resposta';\nconst session = $('Prep AI Chat').first().json.session_id;\nreturn [{json: {success: true, response: text, session_id: session}}];"
      },
      "id": "i3",
      "name": "Process AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 1150]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "z1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 600]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Parse Request", "type": "main", "index": 0}]]
    },
    "Parse Request": {
      "main": [[{"node": "Router", "type": "main", "index": 0}]]
    },
    "Router": {
      "main": [
        [{"node": "PG For Variations", "type": "main", "index": 0}],
        [{"node": "Prep Send", "type": "main", "index": 0}],
        [{"node": "PG CRM Stats", "type": "main", "index": 0}],
        [{"node": "PG Contacts", "type": "main", "index": 0}],
        [{"node": "PG Queue", "type": "main", "index": 0}],
        [{"node": "PG Update Status", "type": "main", "index": 0}],
        [{"node": "Prep AI Chat", "type": "main", "index": 0}],
        [{"node": "PG For Analysis", "type": "main", "index": 0}]
      ]
    },
    "PG CRM Stats": {
      "main": [[{"node": "Process CRM", "type": "main", "index": 0}]]
    },
    "Process CRM": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    },
    "PG Contacts": {
      "main": [[{"node": "Apply Filters", "type": "main", "index": 0}]]
    },
    "Apply Filters": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    },
    "PG Queue": {
      "main": [[{"node": "Process Queue", "type": "main", "index": 0}]]
    },
    "Process Queue": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    },
    "PG Update Status": {
      "main": [[{"node": "Process Status", "type": "main", "index": 0}]]
    },
    "Process Status": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    },
    "Prep Send": {
      "main": [[{"node": "Send WhatsApp", "type": "main", "index": 0}]]
    },
    "Send WhatsApp": {
      "main": [[{"node": "Process Send", "type": "main", "index": 0}]]
    },
    "Process Send": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    },
    "PG For Variations": {
      "main": [[{"node": "Prep Variations", "type": "main", "index": 0}]]
    },
    "Prep Variations": {
      "main": [[{"node": "Gemini Variations", "type": "main", "index": 0}]]
    },
    "Gemini Variations": {
      "main": [[{"node": "Parse Variations", "type": "main", "index": 0}]]
    },
    "Parse Variations": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    },
    "PG For Analysis": {
      "main": [[{"node": "Prep Analysis", "type": "main", "index": 0}]]
    },
    "Prep Analysis": {
      "main": [[{"node": "Gemini Analysis", "type": "main", "index": 0}]]
    },
    "Gemini Analysis": {
      "main": [[{"node": "Parse Analysis", "type": "main", "index": 0}]]
    },
    "Parse Analysis": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    },
    "Prep AI Chat": {
      "main": [[{"node": "Gemini Chat", "type": "main", "index": 0}]]
    },
    "Gemini Chat": {
      "main": [[{"node": "Process AI", "type": "main", "index": 0}]]
    },
    "Process AI": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
