docs/n8n-whatsapp-campaigns-workflow.json
{
  "name": "EleveaOne - WhatsApp Campaigns",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-campaign",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.action }}",
              "value2": "generate_variations"
            }
          ]
        }
      },
      "id": "2",
      "name": "IF Generate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.action }}",
              "value2": "send_message"
            }
          ]
        }
      },
      "id": "3",
      "name": "IF Send",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "messages",
              "value": "=[{\"role\":\"system\",\"content\":\"Você é um especialista em marketing de varejo brasileiro. Crie 3 variações naturais de mensagens WhatsApp. Responda em JSON: {variations: [{id: v1, text: ...}]}\"},{\"role\":\"user\",\"content\":\"Template: {{ $json.body.data.base_template }}\"}]"
            },
            {
              "name": "temperature",
              "value": "0.8"
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "OpenAI Variations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "=https://app.uazapi.com/api/{{ $json.body.data.instance_id }}/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.body.data.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body.data.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "6",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {"node": "IF Generate", "type": "main", "index": 0},
          {"node": "IF Send", "type": "main", "index": 0}
        ]
      ]
    },
    "IF Generate": {
      "main": [
        [{"node": "OpenAI Variations", "type": "main", "index": 0}]
      ]
    },
    "IF Send": {
      "main": [
        [{"node": "Send WhatsApp", "type": "main", "index": 0}]
      ]
    },
    "OpenAI Variations": {
      "main": [
        [{"node": "Respond", "type": "main", "index": 0}]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [{"node": "Respond", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
